<html>

  <head>
    <title>Clima</title>
  </head>

  <body>
    <header>
      <h1>Consulta el clima de tu ciudad</h1>

    </header>

    <form>
      <input placeholder="Ubicacion" />
      <button>Ver el clima</button>
    </form>

    <p id="msj-1"></p>
    <p id="msj-2"></p>

    <script src="/js/index.js"></script>
  </body>

</html>
